html,
body {
  min-height: 100%;
}
body {
  margin: 0;
}

a {
  background-color: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
ins,
a {
  text-decoration: none;
}

.index-main-title span {
  color: #b4b4b4;
  font-size: 16px;
}

.header-nav{
  background: #28905a;
}

.header-top {
  height: 100%;
  vertical-align: middle;
  margin-bottom: 16px;
  margin-top: 16px;
  overflow: hidden;
}
.header-top .width-center {
  padding-left: 20px;
}
.width-center {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.header-title {
  margin-left: 12px;
  margin-top: -6px;
  float: left;
}

.header-nav nav {
  max-width: 1100px;
  margin: auto;
  /*  overflow:hidden;*/
  position: relative;
}
.header-nav nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header-nav nav > ul > li {
  float: left;
  padding: 0;
  text-align: center;
  min-width: 120px;
}
.header-nav nav > ul > li > a {
	font-size: 14px;
	color: #fff;
	width: 100%;
	display: inline-block;
	padding: 1.6rem 0;
}
.header-nav nav > ul li:hover {
  background: #5cc18c;
}
.header-nav .secondary-menu img {
  width: 118px;
  height: 40px;
}
.header-nav .secondary-menu ul {
  margin: 0;
  padding: 0;
}
.header-nav .secondary-menu ul li {
  list-style: none;
}
.header-nav a {
  font-size: 1.8rem;
  color: #ffffff;
}

main {
  max-width: 1100px;
  margin: 0 auto;
}

.index-main-title {
  text-align: center;
  padding: 40px 0;
}

.index-main-title p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #28905A;
}


.index-main-body ul {
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}
.index-main-body ul > li:nth-child(2) {
  margin: 0 15px;
}
.index-main-body ul p {
	font-weight: bold;
	color: #28905A;
  font-size: 14px;
}
.index-main-body ul a {
	border: 1px solid #999;
	border-radius: 20px;
	color: #000;
	display: block;
	width: 119px;
	text-align: center;
	height: 28px;
	margin: 10px auto;
}
.index-main-body img {
  width: 100%;
  height: 100%;
}
.index-main-body li {
  width: 31.33%;
  list-style: none;
  display: inline-block;
  text-align: center;
}
.index-main-body > p {
	width: 100%;
	margin-top: 2rem;
	font-size: 1.4rem;
	text-indent: 2em;
}
.index-main-body > a {
	width: 113px;
	height: 35px;
	display: block;
	background: #28905a;
	text-align: center;
	margin: 20px auto 10px;
	line-height: 35px;
	border-radius: 20px;
  color: #fff;
}

.footer {
  background: #29905b ;
  color: #ffffff;
}
.footer .am-btn-success {
  background-color: #29905b;
  border: none;
  outline: none;
}
.footer .am-btn-success:active,
.footer .am-btn-success:visited {
  outline: none;
  border: none;
}
.footer i {
  font-style: normal;
}
.footer .footer-pc {
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px 20px;
	text-align: center;
}
.footer .footer-pc a {
  color: #fff;
}
.footer .footer-phone {
  text-align: right;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 60px;
}
.footer ul li {
  list-style: none;
}
.footer ul li p {
  margin: 0;
}
.header-right{
  float: right;
}
.header-right span {
  display: block;
}
.header-logo {
  display: inline-block;
  float: left;
}
.header-logo img{
  height: 60px;
}
button,
input:not([type="radio"]):not([type="checkbox"]),
select {
	vertical-align: middle;
	width: 640px;
}

.message-form li {
	margin: 1rem auto;
	list-style: none;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.message-form li span {
  color: #979797;
}
.message-form li label {
	width: 60px;
}
.message-form li input {
  width: 80%;
  height: 40px;
}
.message-form li textarea {
	width: 640px;

}
.message-form li button {
  margin-left: 14%;
  width: 100px;
}
.message-form li i {
  font-style: normal;
  color: #ff0909;
}
.message-form li:nth-child(1) span {
  margin-left: 14%;
}
.am-btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 10px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}
.am-btn-danger:active {
  background-color: #29905b;
}
.am-btn-danger:hover {
  background-color: #29905b;
}
.am-btn-danger:visited {
  background-color: #29905b;
}
.am-btn-danger:focus {
  background-color: #29905b;
}

.am-btn-danger:hover {
  background-color: #29905b;
}

.am-btn:hover, .am-btn:focus {
  color: #444;
  text-decoration: none;
}
.message-form li button {
  margin-left: 14%;
  width: 100px;
}

.am-btn-danger {
  border-radius: 20px;
  background-color: #29905b;
  color: #fff;
}

.pro-body {
  padding: 0 20px ;
}
.pro-body > li {
  list-style: none;
  border-bottom: 1px dashed #ccc;
}
.pro-body > li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto;
}
.pro-body > li img {
  width: 31.33%;
}
.pro-rightarea {
  display: inline-block;
  width: 62%;
  float: right;
}
.pro-rightarea p {
	color: #28905A;
	font-weight: bold;
	font-size: 16px;
}
.pro-rightarea span {
  display: inline-block;
  color: #a5a5a5;
}

.index-main-md .left-area {
  display: inline-block;
  width: 48%;
  float: left;
}
.index-main-md .left-area img{
  width: 490px;
}